n8n/workflows/03-deadline-reminders.json
{
  "name": "Deadline Reminders",
  "nodes": [
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000001",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000002",
      "name": "Get Active Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [250, 300],
      "parameters": {
        "url": "={{ $env.CONVEX_URL }}/api/query/queries/events:listEvents",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8n-nodes-base.httpRequest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000003",
      "name": "Filter Active Events",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "functionCode": "// Filter to only active events and get their timers\nconst now = Date.now();\nconst oneHour = 60 * 60 * 1000;\n\nconst activeEvents = $input.all().filter(item => {\n  const event = item.json;\n  return event.status === 'active' && event.endsAt > now;\n});\n\n// For each active event, check if we're approaching deadlines\nconst reminders = [];\n\nfor (const item of activeEvents) {\n  const event = item.json;\n  const timeUntilEnd = event.endsAt - now;\n  const timeUntilStart = event.startsAt - now;\n\n  // 1 hour before end\n  if (timeUntilEnd > 0 && timeUntilEnd <= oneHour) {\n    reminders.push({\n      json: {\n        eventId: event._id,\n        eventName: event.name,\n        type: 'ending_soon',\n        message: `🚨 **${event.name}** ends in less than 1 hour! Final submissions closing soon.`,\n        timeRemaining: Math.ceil(timeUntilEnd / 60000),\n        priority: 'urgent'\n      }\n    });\n  }\n\n  // 30 minutes before start\n  const thirtyMin = 30 * 60 * 1000;\n  if (timeUntilStart > 0 && timeUntilStart <= thirtyMin) {\n    reminders.push({\n      json: {\n        eventId: event._id,\n        eventName: event.name,\n        type: 'starting_soon',\n        message: `📢 **${event.name}** starts in less than 30 minutes! Get ready!`,\n        timeRemaining: Math.ceil(timeUntilStart / 60000),\n        priority: 'normal'\n      }\n    });\n  }\n\n  // 24 hours before end\n  const oneDay = 24 * 60 * 60 * 1000;\n  if (timeUntilEnd > 0 && timeUntilEnd <= oneDay && timeUntilEnd > oneHour) {\n    reminders.push({\n      json: {\n        eventId: event._id,\n        eventName: event.name,\n        type: 'one_day_warning',\n        message: `⚠️ **${event.name}** ends in less than 24 hours. Start wrapping up!`,\n        timeRemaining: Math.ceil(timeUntilEnd / 3600000),\n        priority: 'important'\n      }\n    });\n  }\n}\n\nif (reminders.length === 0) {\n  reminders.push({\n    json: {\n      noReminders: true,\n      message: 'No active events approaching deadlines'\n    }\n  });\n}\n\nreturn reminders;"
      }
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000004",
      "name": "Has Reminders?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.noReminders }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000005",
      "name": "Get Discord State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200],
      "parameters": {
        "url": "={{ $env.CONVEX_URL }}/api/query/queries/discord:getDiscordState",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "args",
              "value": "{\"eventId\": \"{{ $json.eventId }}\"}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000006",
      "name": "Send Discord Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200],
      "parameters": {
        "url": "={{ $env.DISCORD_ANNOUNCEMENT_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.message }}"
            },
            {
              "name": "username",
              "value": "HackStation Timer"
            },
            {
              "name": "avatar_url",
              "value": "https://yourdomain.com/HacStationLogo.png"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Get Active Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Events": {
      "main": [
        [
          {
            "node": "Filter Active Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Events": {
      "main": [
        [
          {
            "node": "Has Reminders?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Reminders?": {
      "main": [
        [
          {
            "node": "Get Discord State",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Discord State": {
      "main": [
        [
          {
            "node": "Send Discord Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "id": "tag-reminder",
      "name": "reminder"
    },
    {
      "id": "tag-timer",
      "name": "timer"
    }
  ]
}
