n8n/workflows/06-discord-announcement-mirror.json
{
  "name": "Discord Announcement Mirror",
  "nodes": [
    {
      "id": "f6a7b8c9-6666-4000-8000-000000000001",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "f6a7b8c9-6666-4000-8000-000000000002",
      "name": "Get Active Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [250, 300],
      "parameters": {
        "url": "={{ $env.CONVEX_URL }}/api/query/queries/events:listEvents",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "f6a7b8c9-6666-4000-8000-000000000003",
      "name": "Get Announcements",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "parameters": {
        "url": "={{ $env.CONVEX_URL }}/api/query/queries/announcements:listByEvent",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "args",
              "value": "{\"eventId\": \"{{ $json._id }}\"}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "f6a7b8c9-6666-4000-8000-000000000004",
      "name": "Filter New Announcements",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "functionCode": "// Filter out already-mirrored announcements using workflow static data\nconst announcements = $input.all();\nconst staticData = $getStaticData();\n\nconst lastMirroredId = staticData.lastAnnouncementId || '';\n\n// Sort by creation time descending\nannouncements.sort((a, b) => new Date(b.json._creationTime) - new Date(a.json._creationTime));\n\nconst newAnnouncements = lastMirroredId\n  ? announcements.filter(a => a.json._id !== lastMirroredId && new Date(a.json._creationTime) > new Date(announcements.find(x => x.json._id === lastMirroredId)?.json._creationTime || 0))\n  : announcements.slice(0, 5);\n\nif (newAnnouncements.length > 0) {\n  // Store latest ID for next poll\n  staticData.lastAnnouncementId = newAnnouncements[0].json._id;\n}\n\nreturn newAnnouncements.map(a => ({\n  json: {\n    ...a.json,\n    eventId: a.json.eventId\n  }\n}));"
      }
    },
    {
      "id": "f6a7b8c9-6666-4000-8000-000000000005",
      "name": "Has New Announcements?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1000, 300],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $items().length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "f6a7b8c9-6666-4000-8000-000000000006",
      "name": "Build Discord Embed",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 200],
      "parameters": {
        "functionCode": "// Build a Discord embed from announcement data\nconst announcement = $input.first().json;\n\nconst priorityColors = {\n  'normal': 0x5865F2,\n  'important': 0xFEE75C,\n  'urgent': 0xED4245\n};\n\nconst priorityEmojis = {\n  'normal': '📢',\n  'important': '⚠️',\n  'urgent': '🚨'\n};\n\nconst color = priorityColors[announcement.priority] || 0x5865F2;\nconst emoji = priorityEmojis[announcement.priority] || '📢';\n\nconst embed = {\n  embeds: [\n    {\n      title: `${emoji} ${announcement.title}`,\n      description: announcement.content,\n      color: color,\n      timestamp: new Date(announcement._creationTime).toISOString(),\n      footer: {\n        text: 'HackStation Announcements'\n      },\n      author: {\n        name: 'HackStation'\n      }\n    }\n  ],\n  username: 'HackStation Announcements',\n  avatar_url: 'https://yourdomain.com/HacStationLogo.png'\n};\n\nreturn [{ json: embed }];"
      }
    },
    {
      "id": "f6a7b8c9-6666-4000-8000-000000000007",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 200],
      "parameters": {
        "url": "={{ $env.DISCORD_ANNOUNCEMENT_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "embeds",
              "value": "={{ $json.embeds }}"
            },
            {
              "name": "username",
              "value": "={{ $json.username }}"
            },
            {
              "name": "avatar_url",
              "value": "={{ $json.avatar_url }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Get Active Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Events": {
      "main": [
        [
          {
            "node": "Get Announcements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Announcements": {
      "main": [
        [
          {
            "node": "Filter New Announcements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Announcements": {
      "main": [
        [
          {
            "node": "Has New Announcements?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Announcements?": {
      "main": [
        [
          {
            "node": "Build Discord Embed",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Discord Embed": {
      "main": [
        [
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "id": "tag-announcement",
      "name": "announcement"
    },
    {
      "id": "tag-discord",
      "name": "discord"
    }
  ]
}
